:root {
  --primary-bg-color: #302d44;
  --secondary-bg-color: #d2d7e1;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #374c63;
  --form-input-border: #ddd;
  --form-bg-color: #e9e9e9;
  --text-color: #333;
  --white-color: #fff;
  --border-radius: 5px;
  --hover-shadow: 0px 0px 10px lightblue;
  --font-family: "Helvetica", sans-serif;
}

.profile {
  background-color: var(--primary-bg-color);
}

.profile-content, .user-info, .car-info, .car-details-form, .user-details-form {
  padding: 10px;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
}

.user-info, .car-info, .user-details-form {
  background-color: var(--secondary-bg-color);
  font-size: 20px;
}

.user-info p, .car-info p, .h3 {
  color: var(--text-color);
  margin-bottom: 39px;
}

.car-details-form, .user-details-form {
  background-color: var(--form-bg-color);
}

.car-details-form input, .user-details-form input {
  padding: 8px;
  border: 1px solid var(--form-input-border);
  border-radius: var(--border-radius);
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-buttons button, .toggle-button button {
  padding: 20px 70px;
  background-color: var(--button-bg-color);
  color: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-buttons button:hover, .toggle-button button:hover {
  background-color: var(--button-hover-bg-color);
  box-shadow: var(--hover-shadow);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--white-color);
  font-weight: bold;
}

.car-details-form button, .user-details-form button {
  padding: 10px 15px;
  background-color: #28a745;
  color: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.car-details-form button:hover, .user-details-form button:hover {
  letter-spacing: 0.1em;
  box-shadow: 0px 0px 10px rgb(39, 34, 34);
}

.car-details-form button:active, .user-details-form button:active {
  transform: scale(0.98);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .profile-buttons button, .toggle-button button {
    padding: 10px 35px;
    font-size: 14px;
  }
}
