body {
  margin: 0;
  padding: 0;
}

/* Styling the footer */
.footer {
  background-color: #2d3a4b;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.sb_footer {
  display: flex;
  flex-direction: column;
}
.sb_footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.sb_footer-links_div {
  width: 150px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(208, 204, 204);
  font-weight: 600;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.sb_footer-links_div h4 {
  font-size: 17px;
  line-height: 11px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-right: 3rem;
  color: white;
  font-weight: 500;
}
hr {
  color: white !important;
  width: 100%;
}

.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

p:hover {
  color: white;
  letter-spacing: 0.07em;
  box-shadow: 2px 2px 5px rgb(143, 164, 235);
  transition: 0.2s;
}
