.App-header {
  background-color: #2d3a4b;
  padding: 10px 20px;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(219, 216, 216);
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: 0.5s;
}

.buttons button:first-child {
  margin-left: 0;
}

.buttons button:hover {
  background-color: #374c63;
  letter-spacing: 0.07em;
  box-shadow: 0px 0px 10px lightblue;
}

.buttons button:active {
  background-color: #1d2733;
}
.btn-link {
  color: rgb(154, 153, 153);
  font-weight: 600;
}
.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar input {
  width: calc(100% - 40px);
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* ... your existing styles ... */

.dropdown button {
  /* ... your existing styles ... */
  background-color: #3498db; /* Blue color */
  color: white;
  position: relative;
  border: 2px solid #2980b9; /* Darker blue color */
  border-radius: 8px;
}

.dropdown button::after {
  content: "\25BC"; /* Unicode character for a downward arrow */
  font-size: 16px;
  margin-left: 5px;
}

.dropdown-menu {
  /* ... your existing styles ... */
  top: calc(100% + 5px); /* Adjust the value to bring it closer */
  opacity: 0;
  transform: translateX(-5%) translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  margin-left: 78px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: #fff; /* White background for the dropdown */
}

.dropdown-menu a,
.dropdown-menu .signout {
  /* ... your existing styles ... */
  color: #333; /* Dark text color */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 12px 20px;
  display: block;
  text-decoration: none;
}

.dropdown-menu a:hover,
.dropdown-menu .signout:hover {
  background-color: #3498db; /* Blue color on hover */
  color: #fff; /* White text color on hover */
}

/* Adjust the dropdown menu divider styles */
.dropdown-divider {
  margin: 8px 0;
  height: 1px;
  background-color: #bdc3c7; /* Lighter gray color for divider */
}

/* Adjust the dropdown menu signout item styles */
.dropdown-menu .signout {
  color: #000000; /* Red color for signout */
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}
