  .underline-heading {
    text-decoration: underline;
  }
  .shoppingcart-container {
    float: left;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
  }