.MyCart-container h1 span {
  font-weight: bold;
}

.shoppingcart-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: auto; /* Center the container */
}

.MyCart-container {
  background-color: #1d4672;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 206px;
  margin-bottom: 20px;
  text-align: center;
}

.MyCart-container h1 {
  color: white;
  text-decoration: underline;
}

.product-container {
  /* Remove the display and flex-wrap properties */
}

.product {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product-image {
  margin-right: 10px; /* Add margin to separate image and text */
}
.product-details {
  flex-grow: 1;
  margin-right: 20px;
}
.product-price {
  font-weight: bold;
}

.order-summary-container h2 {
  color: white;
  text-align: center;
}

.order-summary-container {
  background-color: #1d4672;
  padding: 10px 5px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.order-total-container h2 {
  color: #1d4672;
  text-align: left;
  font-size: small;
  text-transform: uppercase;
}

.order-total-container {
  background-color: white;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 20px;
}
.subtotal-box {
  color:#1d4672;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.subtotal-box h2 {
  margin: 0;
}
.subtotal-total {
  font-size: 1.5em; /* Adjust the font size as needed */
  font-weight: bold;
}