h1[title="cart-title"] {
  text-decoration: underline;
}
.shoppingcart-container {
    float: left;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
  }
.MyCart-form {
    border: 1px solid white;
    background-color: white;
    padding: 5px 0px;
    width: 150px;
  }
.MyCart-form h2 {
    text-decoration: underline;
    text-align: left;
  }